@{
	ViewData["Title"] = "Relevé CDRB";
}

<div class="logo-container">
	<a href="@Url.Action("Index", "Home")" class="d-flex align-items-center text-decoration-none">
		<img src="~/image/Logo.jpg" alt="CDRB Logo" class="logo" />
	</a>

	<p>
		est un service qui vous permet de consulter l'utilisation et l'historique de votre compte <br />
		pour accéder au Chaabi Net cliquez sur ce <a href="https://bpnet.gbp.ma/">lien</a>
	</p>
</div>