html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    height: 80px;
    margin-right: 15px;
}

.site-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

/* Formulaire centré */
.login-form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar ul li a {
    text-decoration: none; /* Remove the underline */
    color: #007bff; /* Use the Bootstrap link color */
    display: inline-block; /* Ensure the "+" stays aligned with the text */
}

    .sidebar ul li a::before {
        content: "+"; /* Prepend "+" to each link */
        margin-right: 0.5rem; /* Add space between "+" and the text */
        color: #007bff; /* Color the "+" the same as the link */
    }

    .sidebar ul li a:hover {
        text-decoration: none; /* Prevent underline on hover */
        color: #0056b3; /* Change color on hover */
    }

        .sidebar ul li a:hover::before {
            color: #0056b3; /* Change "+" color on hover */
        }